* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "montserrat", sans-serif;
}

.dark-background {
  background-image: url("../src/assets/scss//dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.light-background {
  background-image: url("../src/assets/scss/Weather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f1f8ff;
}

main {
  flex: 1;
}

.light-footer {
  background-color: rgba(0, 102, 255, 0.5);
  margin-top: auto;
  color: black;
  a {
    color: black;
  }
}

.dark-footer {
  background-color: rgba(33, 35, 37, 0.8);
  margin-top: auto;
  color: white;
}

input {
  border: none;
  transition: 1s;
  height: 60px;
  margin: 15px;
  width: 90%;
  border-radius: 20px 0px 20px 0px;
  color: rgb(215, 228, 250);
  &::placeholder {
    color: #ffffff8e;
  }
  &:focus {
    outline: none;
    border-radius: 0px 20px 0px 20px;
    transition: 1s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

.light-input {
  background-color: rgba(0, 102, 255, 0.3);
  &:focus {
    background-color: rgba(0, 102, 255, 0.5);
  }
}

.dark-input {
  background-color: rgba(33, 35, 37, 0.5);
  &:focus {
    background-color: rgba(33, 35, 37, 0.8);
  }
}

.temperature {
  font-size: 80px;
  background-color: rgba(0, 102, 255, 0.05);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.remark {
  background-color: rgba(44, 46, 49, 0.1);
  min-width: 100px;
}

// Media Query Ipads
@media (min-width: 576px) {
  input {
    margin-bottom: 80px;
  }

  .remark {
    margin-top: 20px;
  }

  .location {
    margin-top: 60px;
  }
}
